<div class="fundo">
  <img src="../../../assets/home/9fbc72_d7cad2bce2434f209fcdf5a12e7cd2cc~mv2.webp" alt="hamburguer suculento" srcset="">
  <div class="titleImg">
    <img src="../../../assets/home/TEXTO THE JORDANS.webp" alt="" style="width: 456px; height: 183px; object-fit: cover; object-position: 50% 0%;">
    <p-button label="Faça seu pedido fácil e rápido" class="btnPedir" (click)="abrirDialog()"></p-button>
    <p-dialog [(visible)]="displayPedido" (onHide)="displayPedido = false" [modal]="true" [responsive]="true" [style]="{ 'width': '80vw', 'min-width': '80vw', 'max-width': '80vw' }">
      <app-pedido></app-pedido>
    </p-dialog>
  </div>
</div>

